<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

    <test name="Regression">
         <classes>
            <!--   <class name="com.Kayak.RunnerFiles.Runner"></class>-->
            <class name="com.Kayak.RunnerFiles.Runner"></class>
          </classes>
     </test> <!-- Test -->
     
</suite> <!-- Suite -->